PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/ugirp
JWT_SECRET=change_me_to_a_long_random_string
CORS_ORIGIN=http://localhost:5173,http://localhost:5174,http://localhost:5175,http://localhost:5176,http://localhost:5177

